* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px 2rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.header-top {
  background-color: rgb(171, 211, 115);
  padding: 1px;
}

.header-top span {
  color: #ffffff;
  font-size: 14px;
}

.header_contact {
  display: flex;
}
.header_contact a {
  text-decoration: none;
  color: #484a47;
  font-size: 19px;
}

.header_contact a:hover {
  color: #abd373;
}
.header-middle {
  padding: 22px 0px;
}

.header_contact i {
  background-color: #abd373;
  border-radius: 10px;
  color: #ffffff;
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-right: 15px;
  padding: 5px;
}

.header_right {
  font-size: 23px;
}
.headermiddleall {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative !important;
}

.header_right ul {
  list-style-type: none;
}
.header_right ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 

.header_right li {
  padding-right: 15px;
}
.header_right i {
  color: #797d77;
  font-size: 19px;
}
.header_right i:hover {
  color: #abd373;
}
.header_right button {
  outline: 0;
  border: 0;
  text-decoration: none;
}
.header_right .dropdown .dropdown-menu {
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
.header_right .search-btn {
  border: 0;
  border-bottom: 1px solid #dee2e6;
}
.header_right .minicart .quantity {
  background-color: #abd373;
  border-radius: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
}
.header_right .offcanvas {
  width: 30%;
}
.header_right .offcanvas .container {
  padding: 39px 33px;
}
.header_right .offcanvas .minicart-heading {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}
.header_right .offcanvas .minicart-heading button {
  font-size: 16px;
}

.header_right .offcanvas li {
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.header_right .offcanvas .product-item-remove i {
  position: absolute;
  font-size: 20px;
  top: auto;
  right: 56px;
}
.header_right .offcanvas .product-item-img img {
  width: 50%;
}
.header_right .offcanvas .product-item-content {
  padding-left: 20px;
  padding-right: 10px;
}
.header_right .offcanvas .product-item-title {
  font-size: 16px;
  width: 90%;
  display: block;
  color: #525252;
  text-decoration: none;
}
.header_right .offcanvas .product-item-content span {
  display: block;
  padding-top: 10px;
  font-size: 13px;
}
.header-bottom ul {
  list-style-type: none;
}
.header-bottom a {
  text-decoration: none;
}

.header-bottom a:hover {
  color: #abd373;
}

.main-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-menu a {
  color: #4c4c4c;
  font-size: 14px;
}
.main-menu li {
  padding-right: 35px;
}

.slider {
  background-image: url(/assets/img/slider/1-1.webp);
}
.slider .main-slider-active .slider-area .slide-content {
  padding-top: 145px;
}
.slider .main-slider-active .slider-area .slide-content span {
  font-weight: 300;
  font-size: 47px;
}
.slider .main-slider-active .slider-area .slide-content h2 {
  font-weight: 400;
  font-size: 90px;
  margin-bottom: 15px;
}
.slider .main-slider-active .slider-area .slide-content p {
  font-size: 22px;
  margin-bottom: 50px;
}

.slider .row {
  padding-top: 65px;
}

.slider .main-slider-active .slider-area .slide-content .btn-wrap a {
  border-radius: 33px;
  width: 210px;
  height: 65px;
  font-size: 22px;
  background-color: #abd373;
  border-color: #abd373;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider .main-slider-active .slider-area .slide-content .btn-wrap a:hover {
  background-color: grey;
  color: #ffffff;
}

.slider .main-slider-active .slider-area .inner-img img {
  width: 100%;
}
.slider .main-slider-active .slick-prev i {
  background-color: #ffffff;
  color: #000000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: -47px;
  position: absolute;
  top: -50%;
  cursor: pointer;
  font-size: 20px;
}
.slider .main-slider-active .slick-next i {
  background-color: #ffffff;
  color: #000000;
  width: 50px;
  height: 50px;
  line-height: 50px;
  right: -10px;
  position: absolute;
  top: -56%;
  font-size: 20px;
}
.slider .main-slider-active .slick-prev i:hover {
  background-color: #abd373;
  color: #ffffff;
}
.slider .main-slider-active .slick-next i:hover {
  background-color: #abd373;
  color: #ffffff;
}
.shipping-area {
  padding-top: 80px;
}
.shipping-item {
  border: 1px dashed #abd373;
  border-radius: 5px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
}
.shipping-img {
  width: 60px;
}
.shipping-img img {
  width: 55px;
}
.shipping-content {
  width: calc(100% - 60px);
  padding-left: 20px;
}
.shipping-content h2 {
  color: #1f2226;
  font-size: 15px;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.shipping-content p {
  color: #3e3e3f;
  font-size: 13px;
}

.ourproduct-area {
  padding: 60px;
}

.ourproduct-area ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 25px;
}

.ourproduct-area .nav {
  padding-top: 65px;
  padding-bottom: 55px;
  border-color: #ffffff;
}

.ourproduct-area .nav .active {
  border-color: #abd373;
  border-style: dashed;
  color: #abd373;
}
.ourproduct-area .nav a:hover {
  border-color: #abd373;
  border-style: dashed;
  color: #abd373;
}
.ourproduct-area .nav a {
  text-decoration: none;
  border: 1px solid #dee2e6;
  border-radius: 4px;
  font-size: 18px;
  color: #393939;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  margin-right: 25px;
  cursor: pointer;
}
.ourproduct-area .product-item .product-img {
  position: relative;
}
.ourproduct-area .product-item .product-img a {
  display: block;
  position: relative;
}
.ourproduct-area .product-item .product-img a .primary-img {
  width: 100%;
}
.ourproduct-area .product-item .product-img a .secondary-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.ourproduct-area .product-item .product-img .product-add-action {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: -27px;
  width: 100%;
  transition: all 0.3s linear;
  z-index: 99;
  transform: scale3d(0, 0, 0);
}
.ourproduct-area .product-add-action .product-action {
  padding-right: 80px;
}
.ourproduct-area .product-item .product-img .product-add-action li {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  margin-right: -14px;
  padding-right: 5px;
}
.ourproduct-area .product-item:hover .product-img .product-add-action {
  transform: scale3d(1, 1, 1);
}

.ourproduct-area .product-item .product-img .product-add-action li a {
  display: block;
  color: #666;
  padding: 0;
  border: none;
  height: 4px;
  border: none;
  padding: 0;
  font-size: 15px;
  text-align: center;
  margin-left: 49px;
}
.ourproduct-area .product-item .product-img .product-add-action li a i {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.ourproduct-area .product-item .product-img .product-add-action li a i:hover {
  background-color: #abd373;
  color: #ffffff;
  border: 1px solid #abd373;
}
.ourproduct-area .product-item:hover .product-img a .secondary-img {
  opacity: 1;
  visibility: visible;
}
.ourproduct-area .product-content {
  padding-top: 10px;
}
.ourproduct-area .product-content .product-name {
  margin-bottom: 5px;
  color: #303030;
  font-size: 18px;
  display: block;
  margin-left: 77px;
}
.ourproduct-area .product-content .price-box {
  padding-bottom: 0.25rem !important;
  margin-left: 77px;
}
.ourproduct-area .product-content .price-box span {
  color: #abd373;
  font-size: 20px;
}
.ourproduct-area .product-content .rating-box {
  margin-right: 38px;
}

.ourproduct-area .product-content .rating-box li {
  padding-right: 10px;
}
.ourproduct-area .product-content .rating-box li i {
  color: #ffe24d;
  cursor: pointer;
}
.ourproduct-area .product-item-wrap {
  display: flex;
  flex-wrap: wrap;
}

.title-section .title {
  color: #393939;
  font-size: 36px;
  padding-left: 90px;
  padding-right: 90px;
  font-weight: bold;
  text-align: center;
}

.banner-area {
  position: relative;
}
.banner-img img {
  width: 100%;
}

.banner-img {
  position: relative;
}

.banner-content {
  position: absolute;
  bottom: 63px;
  left: 16%;
}
.banner-content .collection {
  margin-bottom: 15px;
  color: #2d2d2d;
  font-size: 14px;
}
.banner-content title {
  margin-bottom: 32px;
  color: #2d2d2d;
  font-size: 36px;
  font-weight: 500;
}
.banner-item a {
  background-color: #abd373;
  border-color: #abd373;
  color: #ffffff;
  width: 144px;
  height: 44px;
  font-size: 16px;
  overflow: hidden;
  border-radius: 24px;
}
.banner-item a:hover {
  background-color: grey;
  color: #ffffff;
}

.banner-area .col-lg-4 .banner-content {
  position: absolute;
  top: 45px;
  left: 71%;
}
.newproduct-area {
  padding-top: 100px;
}
.newproduct-area .section-title-wrap {
  text-align: center;
}
.newproduct-area .section-title {
  position: relative;
  color: #393939;
  font-size: 36px;
  padding: 0 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.newproduct-area .section-desc {
  text-align: center;
  line-height: 31px;
  color: black;
  margin-bottom: 25px;
}
.newproduct-area ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 25px;
}
.newproduct-area .product-item .product-img {
  position: relative;
}
.newproduct-area .product-item .product-img a {
  display: block;
  position: relative;
}
.newproduct-area .product-item .product-img a .primary-img {
  width: 100%;
}
.newproduct-area .product-item .product-img a .secondary-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.newproduct-area .product-item .product-img .product-add-action {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: -27px;
  width: 100%;
  transition: all 0.3s linear;
  z-index: 99;
  transform: scale3d(0, 0, 0);
}
.newproduct-area .product-add-action .product-action {
  padding-right: 80px;
}
.newproduct-area .product-item .product-img .product-add-action li {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  margin-right: -14px;
  padding-right: 5px;
}
.newproduct-area .product-item:hover .product-img .product-add-action {
  transform: scale3d(1, 1, 1);
}

.newproduct-area .product-item .product-img .product-add-action li a {
  display: block;
  color: #666;
  padding: 0;
  border: none;
  height: 4px;
  border: none;
  padding: 0;
  font-size: 15px;
  text-align: center;
  margin-left: 49px;
}
.newproduct-area .product-item .product-img .product-add-action li a i {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.newproduct-area .product-item .product-img .product-add-action li a i:hover {
  background-color: #abd373;
  color: #ffffff;
  border: 1px solid #abd373;
}
.newproduct-area .product-item:hover .product-img a .secondary-img {
  opacity: 1;
  visibility: visible;
}
.newproduct-area .product-content {
  padding-top: 10px;
}
.newproduct-area .product-content .product-name {
  margin-bottom: 5px;
  color: #303030;
  font-size: 18px;
  display: block;
  margin-left: 77px;
}
.newproduct-area .product-content .price-box {
  padding-bottom: 0.25rem !important;
  margin-left: 77px;
}
.newproduct-area .product-content .price-box span {
  color: #abd373;
  font-size: 20px;
}
.newproduct-area .product-content .rating-box {
  margin-right: 38px;
}

.newproduct-area .product-content .rating-box li {
  padding-right: 10px;
}
.newproduct-area .product-content .rating-box li i {
  color: #ffe24d;
  cursor: pointer;
}
.newproduct-area .product-item-wrap {
  display: flex;
  flex-wrap: wrap;
}

.testimonial-area {
  padding-top: 10px;
  padding-bottom: 95px;
}
.testimonial-bg {
  background-image: url(/assets/img/testimonial/1-1-1820x443.webp);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 370px;
}

.testimonial-area .testimonial-bg  .section-title-wrap {
  text-align: center;
  padding-top: 100px;
}
.testimonial-area .testimonial-bg  .section-title {
  position: relative;
  color: #393939;
  font-size: 36px;
  padding: 0 90px;
  font-weight: 700;
  margin-bottom: 20px;
}
.testimonial-area .testimonial-bg  .section-desc {
  text-align: center;
  line-height: 31px;
  color: black;
  margin-bottom: 25px;
}
.testimonial-area .owl-carousel .card{
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border-radius: 10px;
    margin-right: 35px;
}
.owl-dots{
  position: relative;
  padding-top: 60px;
  bottom: 0 !important;
  left: 0;
  width: 100%;
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
}
.owl-dot{
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #abd373;
  background-color: #abd373 !important;
  width: 18px;
  height: 18px;
  opacity: 1;
  position: relative;
  border-radius: 50%;
  text-align: center;
}
.owl-dot.active{
 
  background-color: #abd373 !important;
}
.owl-carousel .card img{
  width: 30%;
  margin: 25px;
}

.footer-area {
  background-image: url(/assets/img/footer/1-1920x465.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-top-section {
  padding-top: 37px;
  padding-bottom: 6px;
  color: #525252;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-widget-logo {
  padding-bottom: 25px;
}
.footer-widget-desc {
  margin-bottom: 56px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}
.social-link ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 25px;
}
.social-link li {
  margin-right: 15px;
}
.social-link i {
  color: black;
  text-align: center;
  padding: 11px;
  border: 1px solid black;
  font-size: 12px;
  width: 35px;
  height: 35px;
}
.social-link i:hover {
  background-color: #abd373;
  color: #ffffff;
  border: 1px solid #abd373;
}
.footer-widget-title {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 30px;
}
.footer-widget-item ul {
  padding-left: 3px;
}
.footer-widget-item a {
  color: #000000;
}
.footer-bottom hr {
  border: 1px solid #8dba87;
}
.copyright-text {
  color: #8dba87;
}
.copyright {
  text-align: center;
}
.breadcrumb-area {
  background-image: url(/assets/img/breadcrumb/1-1-1919x388.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 370px;
}
.breadcrumb-item {
  color: #525252;
  text-align: center;
  padding: 130px;
}
.breadcrumb-item ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.breadcrumb-item li {
  margin-right: 28px;
}
.breadcrumb-item li a {
  color: #8dba87;
}
.shop-area-section{
  padding: 100px 0;
}
.shop-area-section .sidebar-area{
  margin-top: 155px;
  padding-left: 40px;
  padding-right: 50px;
}
.shop-area-section .sidebar-area .widgets-area{
  background-color: #f6f7fb;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 60px;
  padding-left: 30px;
  padding-right: 30px;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item{
  padding-top: 50px;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item h2{
  color: #6C6C6C;
  text-align: center;
  font-size: 24px;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item ul{
  padding: 0 15px;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item li{
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item a{
  color: #6A6A6A;
}
.shop-area-section .sidebar-area .widgets-area .widgets-item a:hover{
  color:#abd373 ;
}
.widgets-filter .price-range {
  margin-top: 40px; }
  .shop-sidebar-widget .price-range input {
    font-size: 16px;
    color: #000;
    border: 0;
    background: none; }
   
        .widgets-filter .price-range #slider-range {
    width: 100%;
    height: 4px;
    border: none;
    margin-top: 20px;
    background: #cccccc; }
    .widgets-filter .price-range #slider-range .ui-widget-header {
      background: #e52e06; }
      .widgets-filter .price-range #slider-range .ui-slider-handle {
      top: -9px;
      width: 20px;
      height: 20px;
      border-width: 6px;
      background: #fff;
      border-radius: 100%;
      box-shadow: none;
      border-color: #e52e06;
      cursor: pointer; }
.shop-area-section .product-topbar{
  padding-bottom: 50px;
}
.shop-area-section .product-topbar .page-count{
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 30px;
  margin-right: 15px;
  
}
.shop-area-section .product-topbar .nice-select{
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 10px 4px;
  margin-right: 15px;
  outline: none;
}
.shop-area-section .product-topbar .nice-select option{
  text-align: center;
  color: #525252;
}
.shop-area-section .product-topbar span{
  color: #abd373;
}
.shop-area-section .product-topbar select{
  border: none;
}
.all-products ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 25px;
}
.all-products .product-item .product-img {
  position: relative;
}
.all-products .product-item .product-img a {
  display: block;
  position: relative;
}
.all-products .product-item .product-img a .primary-img {
  width: 100%;
}
.all-products .product-item .product-img a .secondary-img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
.all-products .product-item .product-img .product-add-action {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-left: -27px;
  width: 100%;
  transition: all 0.3s linear;
  z-index: 99;
  transform: scale3d(0, 0, 0);
}
.all-products .product-add-action .product-action {
  padding-right: 80px;
}
.all-products .product-item .product-img .product-add-action li {
  display: inline-block;
  width: 33%;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  margin-right: -4px;
  padding-right: 5px;
}
.all-products .product-item:hover .product-img .product-add-action {
  transform: scale3d(1, 1, 1);
}

.all-products .product-item .product-img .product-add-action li a {
  display: block;
  color: #666;
  padding: 0;
  border: none;
  height: 4px;
  border: none;
  padding: 0;
  font-size: 15px;
  text-align: center;
  margin-left: 49px;
}
.all-products .product-item .product-img .product-add-action li a i {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
}
.all-products .product-item .product-img .product-add-action li a i:hover {
  background-color: #abd373;
  color: #ffffff;
  border: 1px solid #abd373;
}
.all-products .product-item:hover .product-img a .secondary-img {
  opacity: 1;
  visibility: visible;
}
.all-products .product-content {
  padding-top: 10px;
}
.all-products .product-content .product-name {
  margin-bottom: 5px;
  color: #303030;
  font-size: 18px;
  display: block;
  margin-left: 62px;
}
.all-products .product-content .price-box {
  padding-bottom: 0.25rem !important;
  margin-left: 62px;
}
.all-products .product-content .price-box span {
  color: #abd373;
  font-size: 20px;
}
.all-products .product-content .rating-box {
  margin-right: 38px;
}

.all-products .product-content .rating-box li {
  padding-right: 10px;
}
.all-products .product-content .rating-box li i {
  color: #ffe24d;
  cursor: pointer;
}
.all-products .product-item-wrap {
  display: flex;
  flex-wrap: wrap;
}
.pagination-area{
  padding-top: 35px;
  margin-left: 276px;
}
.pagination-area .pagination .page-item{
  padding-right: 10px;
}
.pagination-area .pagination .page-item .page-link{
  border: 1px solid #dee2e6;
    color: #d5d5d5;
    text-align: center;
    padding: 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.pagination-area .pagination .page-item .page-link:hover{
  background-color: #abd373;
  color: #ffffff;
}
.pagination-area .pagination .page-item.active .page-link{
  background-color: transparent;
    border-color: #abd373;
    color: #abd373;
}
.wishlist-area {
  padding: 100px 0;
}
.wishlist-area table tr td {
  border-top: medium none;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 14px;
  text-align: center;
}
.wishlist-area .cart_btn a {
  font-size: 10px;
  background: #505050;
  color: #ffffff;
  padding: 10px 25px;
}
.wishlist-area thead {
  text-align: center;
  font-size: 14px;
}
.wishlist-area .product-thumbnail {
  width: 12%;
}
.wishlist-area img {
  width: 100%;
}
.wishlist-area .product-remove i {
  color: #525252;
  font-size: 10px;
}
.wishlist-area a {
  color: #525252;
}
.wishlist-area .cart_btn a:hover {
  background-color: #abd373;
}
.login-register-area {
  padding: 68px 0;
}
.login-register-area .login-form {
  border: 1px solid #d6d1d1;
  padding: 25px;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.login-register-area .login-title {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
  padding-bottom: 20px;
}
.login-form label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
}
.login-form input {
  width: 100%;
  border: 1px solid #dee2e6;
  padding: 10px 20px;
  font-size: 14px;
  margin-bottom: 15px;
  outline: none;
}
.login-form button {
  width: 130px;
  height: 40px;
  font-size: 13px;
  background: #abd373;
  border-color: #abd373;
  color: #ffffff;
  border-radius: 23px;
}
.login-form button:hover {
  background-color: #505050;
  color: #ffffff;
}
.login-form .check-box label {
  position: relative;
  padding-left: 30px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: baseline;
}
.remme_forgotpass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-wrap {
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.2);
  display: flex;
}
.contact-wrap .contact-list {
  margin: 0;
  padding: 0;
}
.contact-info {
  background-image: url(/assets/img/contact/1-1-370x500.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 35px 40px;
  width: 370px;
  color: #ffffff;
}
.contact-info .contact-title {
  margin-bottom: 15px;
  font-size: 30px;
}
.contact-info .contact-desc {
  margin-bottom: 35px;
  font-size: 14px;
}
.contact-info .contact-list li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.contact-info .contact-list li a {
  color: #ffffff;
}
.contact-list li i {
  color: #abd373;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px;
  border: 1px solid;
  border-radius: 100%;
  font-size: 17px;
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
.contact-form-area {
  padding: 85px 0;
}
.contact-form-area .contact-form {
  padding: 50px 40px;
  width: calc(100% - 370px);
}

.contact-form .form-field {
  width: 47%;
}
.contact-form .input-field {
  border: 0;
  border-bottom: 1px solid #dee2e6;
  font-weight: 400;
  color: #8d8d8c;
  height: 45px;
  width: 100%;
  font-style: italic;
  outline: none;
  font-size: 15px;
}
.contact-form .textarea-field {
  border: 0;
  border-bottom: 1px solid #dee2e6;
  font-weight: 400;
  color: #8d8d8c;
  height: 100px;
  width: 100%;
  font-style: italic;
  outline: none;
  font-size: 15px;
}
.contact-form .textarea_form {
  width: 98%;
}
.contact-button-wrap {
  display: flex;
  justify-content: end;
}
.contact-button-wrap .btn {
  width: 165px;
  height: 53px;
  font-size: 16px;
  background: #abd373;
  border-color: #abd373;
  color: #ffffff;
  border-radius: 10px;
}
.contact-button-wrap .btn:hover {
  background-color: #505050;
}
.account-page-area {
  padding: 140px 0;
}

.account-page-area .nav {
  background-color: #2c2c2c;
}
.account-page-area .nav .active {
  background-color: #abd373;
  border-color: #abd373;
}
.account-page-area .nav a {
  border-radius: 1px;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #444444;
  padding: 15px 20px;
  font-size: 16px;
}
.account-page-area .tab-content {
  border: 1px solid #eef0f2;
}
.account-page-area .tab-content a {
  color: #525252;
}
.account-page-area .tab-content .myaccount-dashboard a:hover {
  color: #8dba87;
}
.account-page-area .tab-content .myaccount-dashboard {
  padding: 33px;
  color: #525252;
  font-size: 17px;
}
.account-page-area .myaccount-orders {
  padding: 33px;
}
.account-page-area .myaccount-orders h4 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #525252;
}
.account-page-area .myaccount-orders span {
  color: #ffffff;
}
.account-page-area .myaccount-address {
  padding: 33px;
}
.account-page-area .myaccount-address {
  color: #525252;
}
.account-page-area .myaccount-details form {
  padding: 30px;
  border-radius: 0;
}
.account-page-area .myaccount-details .myaccount-form-inner {
  border: 1px solid #eef0f2;
}
.account-page-area .myaccount-details label {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  font-weight: 500;
}
.account-page-area .myaccount-details .single-input-half {
  padding: 33px;
  width: 100%;
}
.account-page-area .myaccount-details .single-input-half input {
  width: 100%;
}
.account-page-area .myaccount-details .single-input {
  padding: 33px;
  margin-top: -39px;
}
.account-page-area .myaccount-details input {
  border: 1px solid #dee2e6;
  padding: 10px 20px;
  font-size: 14px;
  outline: none;
  width: 100%;
}
.account-page-area .myaccount-details .single-input .btn {
  width: 165px;
  height: 50px;
  background: #abd373;
  color: #ffffff;
  border-radius: 24px;
  font-size: 16px;
}
.account-page-area .myaccount-details .single-input .btn:hover {
  background-color: #505050;
}
.modal-fade .modal-content {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.modal-fade .modal-content .modal-search {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-fade .modal-content .modal-body .modal-search span {
  margin-bottom: 30px;
  font-size: 20px;
  display: block;
  color: #ffffff;
  letter-spacing: 0.5px;
  text-align: center;
}
.modal-fade .modal-content .modal-body .modal-search form {
  position: relative;
  width: 800px;
  display: flex;
  justify-content: center;
}
.modal-fade .modal-content .modal-body .modal-search input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  height: 100px;
  line-height: 100px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-right: 55px;
  font-weight: 300;
}
.cart-area {
  padding: 100px 0;
}
.cart-area  table tr td {
  border-top: medium none;
  padding: 5px 10px;
  vertical-align: middle;
  font-size: 16x;
  text-align: center;
}
.cart-area  .product-subtotal span {
    font-size: 16px;
    font-weight: 700;
}
.cart-area  thead {
  text-align: center;
  font-size: 16px;
}
.cart-area  .product-thumbnail {
  width: 12%;
}
.cart-area  img {
  width: 100%;
}
.cart-area  .product-remove i {
  color: #525252;
  font-size: 10px;
}
.cart-area  a {
  color: #525252;
}
.cart-area input{
  position: relative;
  background-color: #505050;
  border: 1px solid #505050;
  color: #ffffff;
  text-align: center;
  width: 75px;
  height: 50px;
  border-radius: 5px;
  outline: none;
}
.cart-area .product-quantity .cart-plus-minus .dec-qtybutton i{
    position: absolute;
    top: 858px ;
    right: 416px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.cart-area .product-quantity .cart-plus-minus .inc-qtybutton i{
    position: absolute;
    top: 858px;
    right: 377px;
    font-size: 12px;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
}
.cart-area .cart-page-total{
  padding-top: 30px;
}
.cart-area .cart-page-total h2{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #525252;
}
.cart-area .cart-page-total ul{
  margin-left: -32px;
  margin-bottom: 40px;
}
.cart-area .cart-page-total li{
  display: flex;
  justify-content: space-between;
  list-style: none;
    font-size: 17px;
    padding: 10px 30px;
    border: 1px solid #dee2e6;
    font-weight: 700;
    color: #525252;
}
.cart-area .cart-page-total a{
   background-color: #505050;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 17px;
}
.cart-area .cart-page-total a:hover{
  background-color: #abd373;
}
.checkout-area .checkout-form-inner .checkout-form-list {
  margin-top: 20px;
}
.checkout-area{
  padding: 100px 0;
}
.checkout-area h3{
  color: #525252;
  font-weight: bold;
}
.checkout-area .your-order{
  background-color: #F1F1F1;
  padding: 30px 40px 30px;
  margin-top: 1px;
}
.checkout-area .your-order .payment-method {
  margin-top: 15px;
}
.checkout-area .your-order .payment-method .method a{
  color: #525252;
    font-weight: 600;
    font-size: 20px;
}
.checkout-area .your-order .payment-method .method a:hover{
  color: #abd373;
}
.checkout-area .your-order .order-button-payment{
  margin-top: 25px;
}
.checkout-area .your-order button{
  background-color: #505050;
  border: medium none;
  color: #ffffff;
  font-size: 20px;
  height: 50px;
  margin: 20px 0 0;
  width: 100%;
}
.checkout-area .your-order button:hover{
  background-color: #abd373;
}
.checkout-area .your-order th,td,thead.tbody{
color: #525252;
}
.checkout-area .checkout-form-inner .checkout-form-list input{
  outline: none;
  width: 100%;
  border: 1px solid #dee2e6;
    background: #ffffff;
    border-radius: 0;
    height: 42px;
    width: 100%;
    padding: 0 0 0 10px;
}
.checkout-area .checkout-form-inner .checkout-form-list select{
  outline:none;
  width: 100%;
  background-color: #fff;
    border-radius: 5px;
    border: solid 1px #dee2e6;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 42px;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    color: #525252;
}
.checkout-area .checkout-form-inner .checkout-form-list label{
  color:#525252;
}
.single-product-area{
  padding: 100px 0;
}
.single-product-area .single-product-img .slider-for{
  
  margin-bottom: 20px;
}
.single-product-area .single-product-img .slider-for img{
  width: 88%;
  object-fit: cover;
  object-position: center center;
  padding: 25px;
  border: 1px solid #dee2e6;
}

.single-product-area .single-product-img .slider-nav{
  padding-left: 70px;
  padding-right: 70px;
  margin-left: -52px;
}
.single-product-area .single-product-img .slider-nav img{
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  border: 1px solid #dee2e6;
}
.single-product-area .single-product-img .slider-nav .product-img{
  margin-right: 20px;
}
